@import "/ui/Theme.scss";

hudhotbarpanel {
    bottom: 8px;
    left: 25%;
    position: absolute;
    pointer-events: none;
    width: 100%;

    hotbarcontainerpanel {
        pointer-events: none;
        height: 100%;
    }
}
