@import "/ui/Theme.scss";

hudhotbarpanel {
    bottom: 16px;
    left: 32%;
    position: absolute;
    pointer-events: none;
    width: 100%;

    hotbarcontainerpanel {
        pointer-events: none;

        .title {
            display: none;
        }
    }
}
