@import "/ui/Theme.scss";

hudhotbarpanel {
    bottom: 16px;
    position: absolute;
    pointer-events: none;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;


    hotbarcontainerpanel {
        pointer-events: none;
        margin: 0;
        padding: 0;

        .layout {
        }

        .title {
            display: none;
        }
    }
}
