@import "/ui/Theme.scss";

WipText {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;

    label.wip {
        position: absolute;
        bottom: 165px;
        left: 50%;
        transform: translate( -50% );
        text-transform: uppercase;
        font-size: 20px;
    }

    .logo {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 1;
    }

    .website {
        position: absolute;
        bottom: 30px;
        left: $safe-area-x;
        width: 250px;
    }
}
