
@import "/ui/Theme.scss";

playervitals {
    position: absolute;
    width: 100%;
    bottom: 120px;
    height: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
