
@import "/ui/Theme.scss";

playervitals {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 512px;
    height: 256px;

    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    padding: 8px;
}