
@import "/ui/Theme.scss";

.vital {
    width: 20%;
    height: 32px;
    transition: all 0.2s ease;
    margin-right: 8px;

    .label {
        right: 0;
        position: absolute;
        text-align: center;
        align-self: center;
        opacity: 0.5;
        min-width: 40px;
    }

    .bar-background {
        border-radius: 6px;
        width: 100%;
        background-color: rgba( white, 0.05 );
        backdrop-filter: blur( 10px );
        box-shadow: 0px 0px 20px rgba( black, 0.3 );
    }

    .bar {
        height: 100%;
        backdrop-filter: blur( 50x );
        border-radius: 6px;
    }

    .icon {
        position: absolute;
        height: 100%;
        left: 4px;
        aspect-ratio: 1;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-tint: black;
        opacity: 0.5;
    }

    &.invisible {
        opacity: 0;
        height: 0px;
    }

    &.small {
        width: 8%;
    }
}
