@import "/ui/Theme.scss";

craftingmenupanel {
    width: 100%;
    height: 100%;
    bottom: 40px;
    transition: opacity 0.2s ease;
    background-image: linear-gradient(to right, rgba( black, 0.5 ), rgba( black, 0 ) );
    padding-left: 10%;
    padding-top: 3.6%;
    padding-right: 10%;
    padding-bottom: 5%;

    .categories {
        height: 100%;
        width: 256px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        padding: 16px;
        padding-top: 8px;

        .category {
            border-radius: 4px;
            margin-top: 8px;
            height: 50px;
            width: 240px;
            transition: all 0.1s ease;
            background-color: rgba( white, 0.02 );

            .name {
                height: 100%;
                align-items: center;
                text-stroke: 1px black;
                font-weight: 600;
            }

            &:hover {
                background-image: linear-gradient(to right, rgba( white, 0.5 ), rgba( #888888, 0.3 ) );
                cursor: pointer;
                padding-left: 8px;
            }

            &:active {
                background-image: linear-gradient(to right, rgba( white, 0.5 ), rgba( #888888, 0.3 ) );
            }

            &.current {
                transform: scale( 1.15 );
                background-image: linear-gradient(to right, rgba( white, 0.5 ), rgba( #888888, 0.3 ) );
                padding-left: 0px;
            }

            .icon {
                aspect-ratio: 1;
                width: 64px;
                height: 64px;
                transform: scale( 0.6 );
            }

            .amount {
                position: absolute;
                height: 100%;
                right: 8px;
                align-items: center;
                text-stroke: 1px black;
            }
        }
    }

    .items {
        left: 48px;
        width: 60%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: flex-start;
        padding: 16px;

        .item {
            width: 140px;
            height: 170px;
            border-radius: 4px;
            transition: transform 0.1s ease;
            background-color: rgba( white, 0.02 );
            backdrop-filter: blur( 2px );
            box-shadow: 0px 0px 5px rgba( black, 0.2 );
            border: 1px solid rgba( black, 0.1 );

            &:hover {
                background-image: linear-gradient(23deg, rgba( #888888, 0.5 ), rgba( #888888, 0.3 ) );
                cursor: pointer;
            }

            &:active {
                background-image: linear-gradient(23deg, rgba( #888888, 0.6 ), rgba( #888888, 0.3 ) );
            }

            transition: opacity 0.2s ease;

            &:intro {
                opacity: 0;
            }

            .icon {
                width: 140px;
                height: 140px;
                transform: scale( 0.7 );
            }

            .name {
                position: absolute;
                width: 140px;
                bottom: 0;
                text-outline: 1px black;
                text-align: center;
            }

            .amount {
                position: absolute;
                top: 4px;
                right: 8px;
                text-outline: 1px black;

                &.show {
                    opacity: 1;
                }
            }
        }
    }

    .inspector {
        width: 40%;
    }
}
