@import "/ui/Theme.scss";

backpackpage {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-bottom: 32px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease;
    // Controlled by active page
    &.show {
        opacity: 1;
        display: flex;
    }
}
