@import "/ui/Theme.scss";

containerpanel, .containerpanel {
    width: 40%;
    border-radius: 2px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .layout {
        padding: 8px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .title {
        left: 40px;
        width: 100%;
        top: 4px;
        text-stroke: 2px black;
        font-size: 20px;
    }
}
