@import "/ui/Theme.scss";

containerpanel, .containerpanel {
    width: 37%;
    border-radius: 2px;

    .layout {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .title {
        top: -24px;
        position: absolute;
        left: 8px;
        text-stroke: 2px black;
        font-size: 20px;
    }

    &.hidden {
        opacity: 0;
    }
}
