@import "/ui/Theme.scss";

draggeditempanel {
    position: absolute;
    aspect-ratio: 1;
    min-width: 96px;
    min-height: 96px;
    border-radius: 8px;
    transition: transform 0.1s ease, opacity 0.03s ease;
    margin-left: 4px;
    margin-top: 4px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;


    &:intro {
        opacity: 0;
    }

    .icon {
        position: absolute;
        width: 80%;
        height: 80%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        opacity: 0.5;
    }

    .quantity {
        display: none;
        left: 8px;
        top: 4px;
        text-stroke: 2px black;
    }

    &.empty {
        background-color: rgba( #808080, 0.1 );

        .quantity {
            opacity: 0;
        }

        &:active {
            transform: scale( 1.02 );
        }

        &:hover {
            transform: scale( 1.02 );
            cursor: default;
        }
    }
}
