@import "/ui/Theme.scss";

itempanel {
    aspect-ratio: 1;
    min-width: 128px;
    border-radius: 2px;
    pointer-events: all;
    transition: transform 0.1s ease;
    background-color: rgba( white, 0.1 );
    backdrop-filter: blur( 50px );
    border: 2px solid rgba( black, 0.5 );


    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
    }

    .quantity {
        left: 8px;
        top: 4px;
        text-stroke: 2px black;
    }

    &:hover {
        transform: scale( 1.05 );

        .overlay {
            background-color: rgba( white, 0.05 );
        }
    }

    &:active {
        transform: scale( 0.95 );

        .overlay {
            background-color: rgba( white, 0.2 );
        }
    }
}
