@import "/ui/Theme.scss";

itempanel {
    aspect-ratio: 1;
    min-width: 96px;
    border-radius: 8px;
    transition: transform 0.1s ease;
    background-color: rgba( white, 0.02 );
    margin-left: 4px;
    margin-top: 4px;
    backdrop-filter: blur( 2px );
    box-shadow: 0px 0px 5px rgba( black, 0.2 );
    border: 1px solid rgba( black, 0.1 );

    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        transform: scale( 0.8 );
    }

    .durability {
        opacity: 0;
        position: absolute;
        bottom: -1;
        left: -1;
        width: 96px;
        height: 8px;
        background-color: rgba( white, 0.2 );
        border-radius: 0px 0px 8px 8px;

        > .bar {
            width: 100%;
            height: 100%;
            background-color: rgba( #3282B8, 1 );
            border-radius: 0px 0px 8px 8px;
        }
    }

    &.showdurability {

        .durability {
            opacity: 1;

            > .bar {
            }
        }
    }

    &.broken {
        background-color: red;
        opacity: 0.8;

        > .icon {
            opacity: 0.25;
        }

        > .durability {
            opacity: 0.5;
        }
    }

    .quantity {
        left: 8px;
        top: 4px;
        text-stroke: 2px black;
    }

    &.hovered-item {
        transform: scale( 1.05 );

        .overlay {
            background-color: rgba( white, 0.05 );
        }

        cursor: pointer;
    }

    &:active {
        transform: scale( 0.95 );

        .overlay {
            background-color: rgba( white, 0.2 );
        }
    }

    &.empty {

        .quantity {
            opacity: 0;
        }

        &:active {
            transform: scale( 1.02 );
        }

        &:hover {
            transform: scale( 1.02 );
            cursor: default;
        }
    }
}
