handscrosshair {
	border-radius: 100px;
	//background-color: rgba( white, 0.1 );
	//backdrop-filter: blur(50px);
	border-left: 2.5px solid rgba( white, 0.8 );
	border-right: 2.5px solid rgba( white, 0.8 );
}
